<a href="https://colab.research.google.com/github/MuratYarali/Python-Studies/blob/main/Ders_11_11_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l = []
second_lowest_names = []
scores = set()

for _ in range(int(input())):
    name = input()
    score = float(input())
    l.append([name, score])
    scores.add(score)
        
second_lowest = sorted(scores)[1]

for name, score in l:
    if score == second_lowest:
        second_lowest_names.append(name)

for name in sorted(second_lowest_names):
    print(name, end='\n')

3
chi
20
alpha
50
beta
50
alpha
beta

In [ ]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
range(11)

TypeError: ignored

In [ ]:
names = ["Atmed", "Aisha", "Adam", "Joseph", "Gabriel"]

for i in names:
  print("Hello", i)

Hello Atmed
Hello Aisha
Hello Adam
Hello Joseph
Hello Gabriel

In [ ]:
newlist = []

for i in range(1,6):
  newlist.append(i)
print(newlist)

[1, 2, 3, 4, 5]

In [ ]:
x = "1 2 3 4 5".split()
num_list = []

for i in x:
  num_list.append(int(i))
print(num_list)

[1, 2, 3, 4, 5]

In [ ]:
input = "Clarusway"
counter = 0

for i in input:
  counter += 1
  if len(input) > counter:
    i += "-"
  print(i, end = "")

C-l-a-r-u-s-w-a-y

In [ ]:
word = input("Give me a word: ")
counter = 0

for i in word:
  counter += 1
  if counter < len(word):
    i += "-"
  print(i, end="")

Give me a word: Clarusway
C-l-a-r-u-s-w-a-y

In [ ]:
Course = "Clarusway"
for i in Course :
    print(i, end= "-")
print("\b")

C-l-a-r-u-s-w-a-y-

In [ ]:
user ={"name" : "Daniel",
       "surname" : "Smith",
       "age" : "35"
       }

for i, j in user.items():
  print(i, j)

name Daniel
surname Smith
age 35

In [ ]:
test = [(1,2,3), (4,5,6), (7,8,9)]

for i, j, k in test:
  print(i, j, k)

1 2 3
4 5 6
7 8 9

In [ ]:
num = int(input("Enter a number: "))

for i in range(1,11):
  print(f"{num}X{i}={num*i}")

Enter a number: 100
100X1=100
100X2=200
100X3=300
100X4=400
100X5=500
100X6=600
100X7=700
100X8=800
100X9=900
100X10=1000

In [ ]:
for i in range(1,10):
  print(f"{i}"*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [ ]:
print(*range(10,0,-2))

10 8 6 4 2

In [ ]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
	print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [ ]:
zipped = zip(text, numbers)

for x, y in zipped:
  print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [ ]:
even = []
odd = []

for i in range(10):
  if i % 2 == 0:
    even.append(i)
  else:
    odd.append(i)

print(f"even: {even}")
print(f"odd: {odd}")

even: [0, 2, 4, 6, 8]
odd: [1, 3, 5, 7, 9]

In [ ]:
odd =[ i for i in range(0,10) if i % 2 ==1]
even =[ i for i in range(0,10) if i % 2 ==0]
print(odd, even, sep= "\n")

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [ ]:
evens, odds = [], []

list = [11, 36, 33, 66, 89, 21, 32, 16, 10]

for i in list:
  if i % 2 == 0:
    evens.append(i)
  else:
    odds.append(i)

print(f"len of evens is {len(evens)} and odd is {len(odds)}")

len of evens is 5 and odd is 4

In [ ]:
evens, odds = 0, 0

numbers = [11, 36, 33, 66, 89, 21, 32, 16, 10]

for i in numbers:
  if i % 2 == 0: