<a href="https://colab.research.google.com/github/MuratYarali/Python-Studies/blob/main/Ders_15_11_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
toplam = 0

for i in range (1, 75):
  toplam += i

print(toplam)

2775

In [ ]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]

for i in names:
  for ii in mood:
    print(i + " is " + ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [ ]:
(monday, tuesday, wednesday, thursday, friday, saturday, sunday) = tuple(range(1, 8))

In [ ]:
sunday

7

In [ ]:
v = ("five", 5, True)

x, y, z = v

z

True

In [ ]:
x, y, z = (11, 22, 33, 44, 55)

ValueError: ignored

In [ ]:
x, y, *z = (11, 22, 33, 44, 55, 66)

z

[33, 44, 55, 66]

In [ ]:
x, y, *_ = (11, 22, 33, 44, 55, 66)

_

[33, 44, 55, 66]

In [ ]:
x, y, *z, t = (11, 22, 33, 44, 55, 66, 77)
t

77

In [ ]:
sayılar = []

for i in range(5):
  sayılar.append(i)

sayılar

[0, 1, 2, 3, 4]

In [ ]:
[[i] for i in range(5)]

[[0], [1], [2], [3], [4]]

In [ ]:
[i ** 2 for i in range(5)]

In [ ]:
my_list = [1,2,3,4,5,6]

new_list = []

for i in my_list:
  if i % 2 != 0:
    new_list.append(i ** 2)

new_list

[1, 9, 25]

In [ ]:
[i** 2 for i in my_list if i % 2 !=0]

[1, 9, 25]

In [ ]:
condition = False

1 if condition else 0

0

In [ ]:
[i ** 2 for i in my_list if i % 2]

[1, 9, 25]

In [ ]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]

[i + " is " + ii for i in names for ii in mood]

['susan is happy',
 'susan is sad',
 'tom is happy',
 'tom is sad',
 'edward is happy',
 'edward is sad']