<a href="https://colab.research.google.com/github/MuratYarali/Python-Studies/blob/main/Kendi_%C3%87al%C4%B1%C5%9Fmam_13_11_021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sayı = input("Bir sayı giriniz: ")
çarpım = 1

for rakam in sayı:
  if int(rakam) != 0:
    çarpım *= int(rakam)

print(f"Sayının rakamlarının çarpımı= {çarpım}")

Bir sayı giriniz: 566
Sayının rakamlarının çarpımı= 180

In [ ]:
n = int(input("Kaç adet sayı gireceksiniz: "))
toplam = 0

for i in range(n):
  sayı = int(input("Sayıyı giriniz"))
  toplam += sayı

ortalama = toplam / n

print(f"Ortalama= {round(ortalama,2)}")

Kaç adet sayı gireceksiniz: 3
Sayıyı giriniz45
Sayıyı giriniz23
Sayıyı giriniz45
Ortalama= 37.67

In [ ]:
n= int(input("Piramidin satır sayısını giriniz: "))
x = 2 * n - 1
x

# for i in range(n):
#   print(' ' * (n-i-1) + '*' * (2*i+1))

Piramidin satır sayısını giriniz: 5

9

In [ ]:
for satir in range(1,10):
    for sutun in range(1,10):
        print("*", end=" ")
    print()

* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *

In [ ]:

s= 0
for sayi in range(1, 3, 1):
    cevap = int(input("Parolanızı giriniz."))
    if cevap == 123:
        s +=1
 
if s == 3:
    print(s, "kere doğru parola girdiniz, giriş yapabilirsiniz.")
else:
    print(s, "kere parolanızı yanlış girdiniz.")

Parolanızı giriniz.123
Parolanızı giriniz.123
2 kere parolanızı yanlış girdiniz.

In [ ]:

list1 = [10, 20, 4, 45, 99] 
  
# Sırala
list1.sort() 
  
# Yazdır
print("En Büyük Sayı:", list1[-1])

En Büyük Sayı: 99

In [ ]:
def multiply(a, b):
  return 2 * a * b


x = 3
y = 5

multiply(3, 5)

30

In [ ]:
def first_func(argument1, argument2):
  print(argument1 ** 2 + argument2 ** 2)

first_func(2, 3)

13

In [ ]:
def multiply(a, b):
  print(a * b)

multiply(3, 5)
multiply(-1, 2.5)
multiply('amazing', 3)

15
-2.5
amazingamazingamazing

In [ ]:
def motto():
  print("Don't hesitate to reinvent yourself")

motto()

Don't hesitate to reinvent yourself

In [ ]:
def multiply1(a, b):
  print(a * b)

def multiply2(a, b):
  return a * b

multiply1(10, 5)
print(multiply2(10, 5))

50
50

In [ ]:
shadow_var = print("It can't be assigned to any variable")
print(shadow_var)  # NoneType value can't be used

None

In [ ]:
def my_function(a, b)
    area = a * b
    return area

In [ ]:
def who(first, last) :  # same structure as the previous one
    print('Your first name is :', first)
    print('Your last name is :', last)

who(first='Guido', last='van Russom')

Your first name is : Guido
Your last name is : van Russom

In [5]:
from datetime import datetime

def print_time():
  print('task completed')
  print(datetime.now())
  print()

  first_name = Susan
  print_time()

  for x in range(10):
    print(x)
  print_time()

In [7]:
def get_initial(name):
  initial = name[0:1].upper()
  return get_initial

first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

print('Your initials are: '\
      + get_initial(first_name)\
      + get_initial(last_name))

Enter your first name: murat
Enter your last name: yarlı

TypeError: ignored

In [9]:
import datetime

first_name = "Susan"
print('task completed')
print(datetime.datetime.now())
print()

for x in range(10):
  print(x)
print('task completed')
print(datetime.datetime.now())
print()

task completed
2021-11-15 06:02:31.621182

0
1
2
3
4
5
6
7
8
9
task completed
2021-11-15 06:02:31.621888

In [14]:
from datetime import datetime

def print_time(task_name):
  print(task_name)
  print(datetime.now())
  print()

first_name = "Susan"
print_time('printed first name')

for x in range(10):
  print(x)
print_time('completed for loop')

printed first name
2021-11-15 06:07:01.267478

0
1
2
3
4
5
6
7
8
9
completed for loop
2021-11-15 06:07:01.268455

In [16]:
def who(first, last):
  print('Your first name is: ', first)
  print('Your last name is: ', last)

who(first='Guido', last='von Russom')

Your first name is:  Guido
Your last name is:  von Russom

In [18]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [19]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments 
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [25]:
def city(capital, continent='Europe'):
  print(capital, 'in', continent)

city('Athens')
city('Ulaanbaator', continent='Asia')
city('CApe Town', 'Africa')

Athens in Europe
Ulaanbaator in Asia
CApe Town in Africa

In [22]:
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument

SyntaxError: ignored