<a href="https://colab.research.google.com/github/MuratYarali/Python-Studies/blob/main/Suat_Hoca_Ders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**split()**

In [ ]:
text = "Hello dear friends"
print(text.split())

['Hello', 'dear', 'friends']

In [ ]:
text = "For testing parameter: Londra, Prag, Canada, Beyrut, Isfahan, Phuket, Tokyo"

In [ ]:
countries = "Türkiye, Singapur, Malezya, Lübnan, Kanada, Portekiz, Japonya"
country = countries.split(",", 4)
print(*country, type(country), sep="\n")
print(countries)

Türkiye
 Singapur
 Malezya
 Lübnan
 Kanada, Portekiz, Japonya
<class 'list'>
Türkiye, Singapur, Malezya, Lübnan, Kanada, Portekiz, Japonya

In [ ]:
text = "ahmet"
print(*text, sep="\n")

a
h
m
e
t

In [ ]:
# cümledeki en kısa kelime nedir ve kaç karakterden oluşuyor.
text = " soru cozumuyle kodlama becerim gelisiyor."

x = min(text.split(), key=len)
print(f"Cümledeki en kısa kelime '{x}' ve {len(x)} harflidir.")

Cümledeki en kısa kelime 'soru' ve 4 harflidir

**map()**

In [1]:
list1 = [1,2,3,4,5]

list2 = list(map(float, list1))
print(list2)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [2]:
def discount(x):
  return x-(x*.2)

price = [15.2, 17, 10, 22.9, 16.5, 7.7, 11]

new_price = list(map(discount, price))

print(new_price)

[12.16, 13.6, 8.0, 18.32, 13.2, 6.16, 8.8]

**zip()**

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["a","b","c","d","e"]

print(dict(zip(list1, list2)))
print(list(zip(list1, list2)))
print(tuple(zip(list1, list2)))
print(set(zip(list1, list2)), end="\n"*2)

print(list(zip(list1, list2))[0])

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]
((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'))
{(2, 'b'), (5, 'e'), (1, 'a'), (3, 'c'), (4, 'd')}

(1, 'a')

In [ ]:
list1 = [1,2,3]
list2 = ["a","b","c","d","e"]

print(dict(zip(list1, list2)))
print(list(zip(list1, list2)))
print(tuple(zip(list1, list2)))
print(set(zip(list1, list2)))

{1: 'a', 2: 'b', 3: 'c'}
[(1, 'a'), (2, 'b'), (3, 'c')]
((1, 'a'), (2, 'b'), (3, 'c'))
{(2, 'b'), (3, 'c'), (1, 'a')}

In [ ]:
list1 = [1,1,"a"]
list2 = ["a","b","c","d","e"]

print(set(zip(list1, list2)))

{(1, 'b'), ('a', 'c'), (1, 'a')}

In [3]:
std = ["ahmet", "tarık", "müzeyyen"]

new_std = dict(enumerate(std))

print(new_std)

{0: 'ahmet', 1: 'tarık', 2: 'müzeyyen'}

In [5]:
std = ["tuncay", "emre", "ahmet"]

new_std = list(enumerate(std,2))
print(new_std)

new_list = list(enumerate(sorted(std), 5))
print(new_list)

[(2, 'tuncay'), (3, 'emre'), (4, 'ahmet')]
[(5, 'ahmet'), (6, 'emre'), (7, 'tuncay')]

In [9]:
std = ["tuncay", "emre", "ahmet"]

new_list = list(enumerate(sorted(std), 5))
new_dict = dict(enumerate(sorted(std), 5))

print(new_list)
print(sorted(new_list, reverse=True))
print(new_dict)

[(5, 'ahmet'), (6, 'emre'), (7, 'tuncay')]
[(7, 'tuncay'), (6, 'emre'), (5, 'ahmet')]
{5: 'ahmet', 6: 'emre', 7: 'tuncay'}

In [17]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [8]:
std = ["tuncay", "emre", "ahmet"]

new_list = list(enumerate(sorted(std, reverse=True), 5))

print(new_list)

[(5, 'tuncay'), (6, 'emre'), (7, 'ahmet')]

Q-1) Verilen listeden {id:name} olacak şekilde dict oluşturunuz.

*   test_list = ["Ali", 1, "Veli", 2, "Osman", 3, "Ahmet", 4] 
*   output : {1: 'Ali', 2: 'Veli', 3: 'Osman', 4: 'Ahmet'}

In [103]:
test_list = ["Ali", 1, "Veli", 2, "Osman", 3, "Ahmet", 4]
id = test_list[1::2]
name = test_list[::2]
new_dict = dict(zip(id, name))

print(id)
print(name)
print(new_dict)

[1, 2, 3, 4]
['Ali', 'Veli', 'Osman', 'Ahmet']
{1: 'Ali', 2: 'Veli', 3: 'Osman', 4: 'Ahmet'}

In [ ]:
test_list = ["Ali", 1, "Veli", 2, "Osman", 3, "Ahmet", 4]
print(dict(zip(test_list[1::2],test_list[0::2])))

{1: 'Ali', 2: 'Veli', 3: 'Osman', 4: 'Ahmet'}

Q-2) Kullanıcıdan alınan 5 sayı içerisinden en büyük 2. sayıyı bulan kodu yazınız.

*   map() ve split() kullanalım.

In [105]:
numbers = list(map(int, input("Enter 5 numbers= ").split()))

sec_max = sorted(set(numbers))[-2]
print(f"Tüm sayılar {numbers}")
print(f"Set edilmiş hali {set(numbers)}")
print(f"Sıralanmış hali {sorted(set(numbers))}")
print(f"2. maksimum {sec_max}")

Enter 5 numbers= -3 -5 8 3 4
Tüm sayılar [-3, -5, 8, 3, 4]
Set edilmiş hali {3, 4, 8, -5, -3}
Sıralanmış hali [-5, -3, 3, 4, 8]
2. maksimum 4

In [119]:
numbers = list(map(int, (input("Enter 5 numbers= ").split())))

sec_set = set(numbers)
sec_sort = sorted(set(numbers))
sec_max2 = sorted(set(numbers))[-2]

print(numbers)
print(sec_set)
print(sec_sort)
print(sec_max2)

Enter 5 numbers= 3 -25 3 46 98
[3, -25, 3, 46, 98]
{98, 3, 46, -25}
[-25, 3, 46, 98]
46

Q-3) Kullanıcıdan alınan değer kadar numbers listesinin elemanlarını sağa kaydıran kodu yazınız.

*   numbers = [2,3,5,7,11,44,34]

Q-4) Kullanıcıdan alınan sayının negatif veya pozitif olduğunu bulan kodu yazınız.

In [4]:
a = int(input("Enter a number= "))

if a>0:
  print("Positive")
elif a<0:
  print("Negative")
elif a==0:
  print("Number is zero")
else:
  print("Please enter a number")

Enter a number= -6
Negative

Q-5) Kullanıcıdan 2 değer ve işlemi alıp sonucunu döndüren basit bir hesap makinesi programı yazınız.

*   "1" Toplama
*   "2" Çıkarma
*   "3" Çarpma
*   "4" Bölme

In [ ]:
num1 = float(input("Enter first number= "))
num2 = float(input("Enter second number= "))
işlem = input("İşlemi seçiniz: ")

if işlem == "+":
  print(f"{num1} + {num2} = {num1+num2}")
elif işlem == "-":
  print(f"{num1} - {num2} = {num1-num2}")
elif işlem == "*":
  print(f"{num1} * {num2} = {num1*num2}")
elif işlem == "/":
  print(f"{num1} / {num2} = {num1/num2}")
else:
  print("Yanlış giriş yaptınız")

Enter first number= 3
Enter second number= 8
İşlemi seçiniz: *
3.0 * 8.0 = 24.0

Q-6) E-mail ve parola bilgileri ile giriş kontrolü yapan programı yazınız.


*   email = 'D999@clarusway.com'
*   pswrd = 'd999'

In [ ]:
email = 'D999@clarusway.com'
pswrd = 'd999'

ent_mail = input("Enter your e-mail: ")
ent_pswrd = input("Enter your password: ")

if ent_mail != email and ent_pswrd == pswrd:
  print("wrong mail address")
elif ent_mail == email and ent_pswrd != pswrd:
  print("wrong password")
elif ent_mail != email and ent_pswrd != pswrd:
  print("wrong mail address and password")
else:
  print("login successful")

Enter your e-mail: D999@clarusway.c
Enter your password: 456
wrong mail address and password

Q-7) Kullanıcıdan alınan boy ve kilo değerlerine göre beden kitle indeksini hesaplayın ve şu kurallara göre ekrana şu yazıları yazdırın.
     
     BKİ 18.5'un altındaysa -------> Zayıf
     
     BKİ 18.5 ile 25 arasındaysa ------> Normal
     
     BKİ 25 ile 30 arasındaysa --------> Fazla Kilolu
     
     BKİ 30'un üstündeyse -------------> Obez

Not: Beden Kitle İndeksi: Kilo / Boy(m) *  Boy(m)

In [ ]:
boy = float(input("Boyunuzu cm cinsinden giriniz: "))
kilo = float(input("Kilonuzu giriniz: "))
bki = kilo / (boy ** 2 / 10000)

print(f"BKİ= {bki}")

if bki < 18.5:
  print("Zayıf")
elif bki >= 18.5 and bki < 25:
  print("Normal")
elif bki >= 25 and bki < 30:
  print("Fazla Kilolu")
else:
  print("Obez")

Boyunuzu cm cinsinden giriniz: 177
Kilonuzu giriniz: 80
BKİ= 25.535446391522232
Fazla Kilolu

Q-8) Kullanıcıdan alınan 3 sayıdan en büyüğünü bulan kodu yazınız.