<a href="https://colab.research.google.com/github/MuratYarali/Python-Studies/blob/main/%C3%87al%C4%B1%C5%9Fmam_29_11_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
from math import pi, factorial, log10

In [ ]:
print(pi)
print(factorial(4))
print(log10(1000))

3.141592653589793
24
3.0

In [ ]:
def factor(x):
  result = 1
  for i in range(x):
    result *= (i+1)
  return print(result)

factor(5)

120

In [ ]:
import string as stg

print(stg.punctuation)
print(stg.digits)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789

In [ ]:
import datetime as dt

print(dt.date.today())
print(dt.datetime.now())

2021-11-29
2021-11-29 17:01:23.736234

In [ ]:
from random import choice

city = ['Stockholm', 'Istanbul', 'Seul', 'Cape Town']
print(choice(city))

Istanbul

In [ ]:
from random import random
print(random())

0.4001212720447397

In [ ]:
def sum_double(x, y):
  result = 0
  if x == y:
    result = 2 * (x + y)
  else:
    result = x + y
  return result

print(sum_double(5, 5))

20

In [ ]:
def parrot_trouble(talking, hour):
  result = 0
  if talking == True and (0 <= hour <= 6 or 21 <= hour <= 23):
    result = True
  else:
    result = False
  return result

In [ ]:
print(parrot_trouble(False, 5))

False

In [ ]:
print((lambda x: x ** 2)(2))

4

In [ ]:
lambda x: "odd" if x % 2 != 0 else "even"

In [ ]:
(lambda x: "odd" if x % 2 != 0 else "even")(5)

'odd'

In [ ]:
(lambda x: ",".join(sorted(x, reverse = True)))("ali")

'l,i,a'

In [ ]:
(lambda x: x[::-1])("ali")

'ila'

In [ ]:
(lambda x: x[::-1])([1,2,3])

[3, 2, 1]

In [ ]:
(lambda a,b: int((a+b)/2))(5,10)

7

In [ ]:
print((lambda x,y:(x+y)/2)(3,5))

4.0

In [ ]:
sayılar = [1,2,3,4,5,6]

In [ ]:
for a in sayılar:
  print(a, ":", (lambda x: "odd" if x % 2 != 0 else "even")(a))

odd
even
odd
even
odd
even

In [ ]:
avarage = lambda x, y: (x+y)/2
print(avarage(3, 5))

4.0

In [ ]:
finder = lambda x: "odd" if x % 2 != 0 else "even"

In [ ]:
print(finder(5))

odd

In [ ]:
reverser = lambda x: x[::-1]

In [ ]:
reverser([1,2,3,4])

[4, 3, 2, 1]

In [ ]:
print(list(map((lambda  x: x**2), ([1,2,3,4]))))

[1, 4, 9, 16]

In [ ]:
fonksiyon = lambda x: x ** 2
iterable = [1,2,3,4]

sonuç = map(fonksiyon, iterable)
print(*sonuç)

1 4 9 16

In [ ]:
def kare(b):
  return b ** 2

In [ ]:
sonuç2 = map(kare, iterable)
print(*sonuç2)

1 4 9 16

In [ ]:
letter1 = ["o", "s", "t", "t"]
letter2 = ["n", "i", "e", "w"]
letter3 = ["e", "x", "n", "o"]

numbers = map(lambda x,y,z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [ ]:
topla = lambda x, y, z: x + y + z
topla("a", "l", "i")

'ali'

In [ ]:
num1 = [9,6,7,4]
num2 = [3,6,5,8]

func = lambda x, y: (x+y)/2

numbers = map(func, num1, num2)

print(list(numbers))

[6.0, 6.0, 6.0, 6.0]

In [ ]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]

sentence = map(lambda x,y,z: x+" "+y+" "+z, words2, words3, words1)

print(list(sentence))

['i love you', 'you ate much', 'he works hard']

In [ ]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]

sentence = map(lambda x,y,z: x+" "+y+" "+z, words2, words3, words1)

for i in sentence:
  print(i)

i love you
you ate much
he works hard

In [ ]:
first_ten = [0,1,2,3,4,5,6,7,8,9]

even = filter(lambda x: x%2==0, first_ten)

print(type(even))
print("Even numbers are: ", list(even))

<class 'filter'>
Even numbers are:  [0, 2, 4, 6, 8]

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

greater5 = filter(lambda x: len(x)>=5, words)

print(list(greater5))

['apple', 'clock', 'banana']

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

lower5 = filter(lambda x: len(x)<5, words)

print(list(lower5))

['swim', 'me', 'kiwi']

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

for i in filter(lambda x: len(x)<5, words):
  print(i)

swim
me
kiwi

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

for i in filter(lambda i: i in vowel_list, first_ten):
  print(i)

a
e
i

In [ ]:
vowels = filter(lambda i: i in vowel_list, first_ten)

print(list(vowels))

['a', 'e', 'i']

In [ ]:
def modular(n):
  return  lambda x: x ** n

karesinial = modular(2)  # x ** 2 döndürür
küpünüal = modular(3)

In [ ]:
print(karesinial(2))
print(küpünüal(2))

4
8

In [ ]:
def functioner(emoji):
  return lambda x: x + " " + emoji

myPrint_smile = functioner(":)")
myPrint_sad = functioner(":(")
myPrint_neutral = functioner(":|")

print(myPrint_smile("hello"))
print(myPrint_sad("hello"))
print(myPrint_neutral("hello"))

hello :)
hello :(
hello :|

In [1]:
def function_generator(function_name):
  return lambda x: function_name(x)

murat_print = function_generator(print)
murat_sorted = function_generator(sorted)
murat_max = function_generator(max)

murat_print("ali")
print(murat_sorted("ali"))
print(murat_max("ali"))

ali
['a', 'i', 'l']
l

In [ ]:
lambda parameters: expression

In [ ]:
list comprehentions aree also one line

In [ ]:
body1 if condition else body2

In [2]:
def square(x):
  return x**2

In [3]:
lambda x: x**2

In [4]:
lambda x: x**2

In [6]:
lambda x, y: (x+y)/2

In [7]:
def ort(x, y):
  return (x+y)/2

In [ ]:
map() filter() apply()

In [10]:
lambda x: "odd" if x%2!=0 else "even"

In [11]:
print((lambda x: x**2)(2))

4

In [14]:
(lambda x: "odd" if x%2!=0 else "even")(3)

'odd'

In [17]:
(lambda x: "odd" if x%2!=0 else "even")(4)

'even'

In [20]:
print((lambda x: x[::-1])("ali"))

ila

In [21]:
print((lambda x: x[::-1])([1,2,3,4,5]))

[5, 4, 3, 2, 1]

In [24]:
(lambda a,b: (a+b)/2)(9, 4)

6.5

In [26]:
average = (lambda a,b: (a+b)/2)(3,5)
print(average)

4.0

In [35]:
for x in [1,2,3,4]:
  print(x, ":", (lambda x: "odd" if x%2!=0 else "even")(x))

1 : odd
2 : even
3 : odd
4 : even

In [39]:
sayılar = [1,2,3,4,5,6,7,8,9]

for i in sayılar:
  print(i, ":", (lambda i: "odd" if i%2!=0 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even
7 : odd
8 : even
9 : odd

In [41]:
average = lambda x,y: (x+y)/2
print(average(3,5))

4.0

In [49]:
finder = lambda i: "odd" if i%2!=0 else "even"
finder(5)

'odd'

In [52]:
reverser = lambda x: x[::-1]
reverser([1,2,3,4])

[4, 3, 2, 1]

In [53]:
map(function, iterable)

NameError: ignored

In [57]:
print(list(map(lambda x: x**2, [1,2,3,4,5])))

[1, 4, 9, 16, 25]

In [62]:
fonksiyon = lambda x: x ** 2
iterable = [1,2,3]

sonuç = map(fonksiyon, iterable)
print(*sonuç)

1 4 9

In [66]:
print(list(map(lambda x: x ** 2, [1,2,3,4,5])))

[1, 4, 9, 16, 25]

In [69]:
def square(x):
  return x ** 2

iterable = [1,2,3]
sonuç = map(square, iterable)
print(*sonuç)

1 4 9

In [72]:
letter1 = ["o", "s", "t", "t"]
letter2 = ["n", "i", "e", "w"]
letter3 = ["e", "x", "n", "o"]

numbers = map(lambda x,y,z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [73]:
topla = lambda x,y,z : x+y+z

In [75]:
topla("a", "l", "i")

'ali'

In [78]:
num1=[9,6,7,4]
num2=[3,6,5,8]

print(list(map(lambda x, y: (x+y)/2, num1, num2)))

[6.0, 6.0, 6.0, 6.0]

In [92]:
func = lambda x, y: (x+y)/2
num1=[9,6,7,4]
num2=[3,6,5,8]

numbers = map(func, num1, num2)
print(list(numbers))

[6.0, 6.0, 6.0, 6.0]

In [96]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]

sentence = map(lambda x,y,z: x + " " + y + " " + z, words2, words3, words1)
print(list(sentence))

['i love you', 'you ate much', 'he works hard']

In [106]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]

sentence = map(lambda x,y,z: x+" "+y+" "+z, words2, words3, words1)

for i in sentence:
  print(i)

i love you
you ate much
he works hard

In [107]:
filter(func, iterable)  # func = if Function is None, filter returns the items which is True

In [110]:
first_ten = [0,1,2,3,4,5,6,7,8,9]

even = filter(lambda x: x%2==0, first_ten )
print(list(even))

[0, 2, 4, 6, 8]

In [115]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

short5= filter(lambda x: len(x) < 5, words)

print("The object has less ten 5 digits are: ", list(short5))

The object has less ten 5 digits are:  ['swim', 'me', 'kiwi']

In [117]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

for i in filter(lambda x: len(x) < 5, words):
  print(i)

swim
me
kiwi

In [3]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    
for i in filter(lambda x: x in vowel_list, first_ten):
  print(i)

a
e
i

In [8]:
def modular_function(n):
  return lambda x: x**n

power_of_2 = modular_function(2)  # lambda x: x**2
print(power_of_2(2))
print((lambda x: x**2)(2))

power_of_3 = modular_function(3)  # lambda x: x ** 3
print(power_of_3(2))
print((lambda x: x**3)(2))

power_of_4 = modular_function(4)  # lambda x: x ** 4
print(power_of_4(2))
print((lambda x:  x ** 4)(2))

4
4
8
8
16
16

In [14]:
def modular(n):
  return lambda x: x**n

karesinial = modular(2)

karesinial(2)

4

In [18]:
küpünüal = modular(2)

küpünüal(3)

9

In [23]:
def repeater(n):
  return lambda x: x * n

repeat2 = repeater(3)
print(repeat2("veli"))

veliveliveli

In [28]:
def smile(n):
  return lambda x: x + n

my_smile = smile(" "+ ":)")
my_sad = smile(" "+ ":(")
my_neutrul = smile(" "+ ":|")

print(my_smile("hello"))
print(my_sad("hello"))
print(my_neutrul("hello"))

hello :)
hello :(
hello :|

In [34]:
def function_generator(function_name):
  return lambda x: function_name(x)

murat_max = function_generator(max)
murat_print = function_generator(print)
murat_bool = function_generator(bool)
murat_sorted = function_generator(sorted)

murat_max((22,2,6))

22

In [37]:
def function_generator(function_name):
  return lambda x: function_name(x)

murat_max = function_generator(max)

murat_max((12,33,55))

55