<a href="https://colab.research.google.com/github/MuratYarali/Python-Studies/blob/main/%C3%87al%C4%B1%C5%9Fmam_25_11_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(callable("anka"))

False

In [ ]:
def x():
  a = 5
  return a
print(x())

5

In [ ]:
bool(None)

False

In [ ]:
mylist = ['apple', 'banana', 'cherry']

x = frozenset(mylist)

x[1] = "strawberry"

print(x, type(x))

In [ ]:
girdi=input("Lütfen sonucunu bulmak istediğiniz matematiksel işlemi yazın. \
 + - * / matematiksel işaretlerini kullanabilirsiniz.")

sonuç = eval(girdi)

print("Verdiğiniz matematiksel işlemin sonucu:", sonuç)

Lütfen sonucunu bulmak istediğiniz matematiksel işlemi yazın.  + - * / matematiksel işaretlerini kullanabilirsiniz.22*2
Verdiğiniz matematiksel işlemin sonucu: 44

In [ ]:
def first_function(argument_1, argument_2) :
    print(argument_1**2 + argument_2**2)

first_function(2, argument_2 = 5)

29

In [ ]:
def multiply(a, b):
  print(a * b)

multiply(3, 5)
multiply(-1, 2.5)
multiply("amazing", 3)

15
-2.5
amazingamazingamazing

In [ ]:
def motto() :
    print("Don't hesitate to reinvent yourself!")

motto()  # it takes no argument

Don't hesitate to reinvent yourself!

In [ ]:
shadow_var = print("It can't be assigned to any variable")
print(shadow_var)  # NoneType value can't be used

It can't be assigned to any variable
None

In [ ]:
def alan(r):
  return 3.14 * r ** 2

In [ ]:
sonuç = 25 * alan(3)

print(sonuç)

706.5

In [ ]:
def myfunction(a, b):
  area = a *b
  return area

print(myfunction(3, 4))
print(myfunction(5, 7))

12
35

In [1]:
def square(x):
  return x ** 2

In [2]:
lambda x: x ** 2

In [ ]:
lambda x, y: (x+y)/2

In [3]:
lambda x: "odd" if x % 2 != 0 else "even"

In [6]:
(lambda x: x ** 2)(8)

64

In [10]:
average = (lambda x, y: (x+y)/2)(3, 5)

print(average)

4.0

In [15]:
average = lambda x, y: (x+y)/2

print(average(3, 5))

4.0

In [ ]:
iterable = [1, 2, 3, 4, 5]

print(list(map(lambda x: x ** 2, iterable)))

In [6]:
def square(x):
  return x ** 2

iterable = [1, 2, 3, 4, 5]
print(list(map(square, iterable)))

[1, 4, 9, 16, 25]

In [10]:
number_list=[1, 2, 3, 4, 5]

print(list(map(lambda x: x * 3, number_list)))

[3, 6, 9, 12, 15]

In [19]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 

print(list(filter(lambda x:x%2==0, first_ten)))

[0, 2, 4, 6, 8]

In [21]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print(list(filter(lambda x: x in vowel_list, first_ten)))

['a', 'e', 'i']

In [23]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list(filter(lambda x: x >= 6, number_list)))

[6, 7, 8, 9, 10]