<a href="https://colab.research.google.com/github/MuratYarali/Python-Studies/blob/main/%C3%87al%C4%B1%C5%9Fmam_22_11_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple = {}

print(type(tuple))

<class 'dict'>

In [ ]:
my_dict = {'animal' : "dog", 'is_good' : True}

my_dict.values()

dict_values(['dog', True])

In [ ]:
my_dict.update({'a':1})

print(my_dict)

{'animal': 'dog', 'is_good': True, 'a': 1}

In [ ]:
numbers = [1,3,7,4,3,0,3,6,3]

max(numbers, key=numbers.count)

3

In [ ]:
numbers.count(3)

4

In [ ]:
şehirler = ["istanbul", "ankara", "ağrı", "van"]

print(sorted(şehirler, key=len, reverse=True))

['istanbul', 'ankara', 'ağrı', 'van']

In [ ]:
lambda x, y: (x+y)/2

lambda x = "odd" if x % 2 != 0 else 'even'

SyntaxError: ignored

In [ ]:
(lambda x: x ** 2)(9)

81

In [ ]:
print((lambda x, y: (x+y)/2)(3, 5))

4.0

In [ ]:
avarage = (lambda x, y: (x+y)/2)(3, 5)

print(avarage)

4.0

In [ ]:
avarage = lambda x, y: (x+y)/2

print(avarage(3, 5))

4.0

In [ ]:
echo_word = lambda x, y: x * y

print(echo_word('hello', 3))

hellohellohello

In [ ]:
iterable = [1, 2, 3, 4, 5]

map(lambda x:x**2, iterable)

result = map(lambda x: x**2, iterable)

print(type(result))

print(list(result))

print(list(map(lambda x:x**2, iterable)))

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
def square(x):
  return x ** 2

iterable = [1, 2, 3, 4, 5]
result = map(square, iterable)

print(list(result))

[1, 4, 9, 16, 25]

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']

numbers = map(lambda x,y,z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [ ]:
number_list = [1, 2, 3, 4, 5]

result = list(map(lambda x: 3 * x , number_list))
print(result)

[3, 6, 9, 12, 15]

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

vowels = filter(lambda x: True if x in vowel_list else False, first_ten )

print("Vowels are:", list(vowels))

Vowels are: ['a', 'e', 'i']

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

vowels = filter(lambda i: True if i in vowel_list else False, first_ten)

print(list(vowels))

['a', 'e', 'i']

In [ ]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(filter(lambda x: True if x >= 6 else False, number_list))

print(result)

[6, 7, 8, 9, 10]

In [ ]:
def modular_function(n):
  return lambda x: x ** n

power_of_2 = modular_function(2)
power_of_3 = modular_function(3)
power_of_4 = modular_function(4)

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [ ]:
def repeater(n):
  return lambda x: x * n

repeat2 = repeater(2)

print(repeat2('alex '))

alex alex

In [ ]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))

125

In [ ]:
print((lambda x: x**3)(5))

125

In [ ]:
mean = lambda x, y: (x+y)/2

print(mean(8, 10))

9.0

In [ ]:
multiply = lambda x: x * 4

add = lambda x, y: x + y

print(add(multiply(10), 5))

45

In [ ]:
kisiler = ['Sinan', 'Erdinç', 'Mehmet']
tarihler = [2018, 2017, 2020]

print(zip(kisiler,tarihler))

print(list(filter(lambda zipped:2018<=zipped[1]<=2020,zip(kisiler,tarihler))))

<zip object at 0x7f5248fef780>
[('Sinan', 2018), ('Mehmet', 2020)]

In [ ]:
number_list = [1, 2, 3, 4]

result = map(lambda x:x**3, number_list)

print(list(result))

[1, 8, 27, 64]

In [ ]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 

divisiable = filter(lambda x: x % 3 == 0, number_list)

print(list(divisiable))

[0, 3, 6, 9, 12]

In [ ]:
number_list=[1, 2, 3, 4, 5]

result= list(map(lambda x: x ** 2, number_list))

print(result)

[1, 4, 9, 16, 25]

In [ ]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result= list(filter(lambda x: True if x % 2 != 0 else False, number_list))

print(result)

[1, 3, 5, 7, 9]

In [ ]:
given_list = [1,2,3,4,5]

print(set(given_list))

{1, 2, 3, 4, 5}

In [ ]:
s = set("unselfishness")

s

{'e', 'f', 'h', 'i', 'l', 'n', 's', 'u'}

In [ ]:
def who(first, last):
  print("Your first name is: ", first)
  print("Your last name is: ", last)

print(who("murat", "yaralı"))

Your first name is:  murat
Your last name is:  yaralı
None

In [ ]:
def texter(c, a, b):
  print(a, b, c)

a = "i"
b = "love"
c = "you"

texter(c, a, b)

i love you

In [ ]:
texter(c = "you", b = "love", a = "i")

i love you

In [ ]:
def fonksiyon(x = "ali", y = 22):
  print(x, y, "yaşındadır")

fonksiyon()

ali 22 yaşındadır

In [ ]:
fonksiyon(x = "deli", y = 33)

deli 33 yaşındadır

In [ ]:
fonksiyon("veli", 40)

veli 40 yaşındadır

In [ ]:
fonksiyon( y = 33, x = "deli")

deli 33 yaşındadır

In [ ]:
fonksiyon("selin")

selin 22 yaşındadır

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [ ]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(action = "VOOOOOMM", voltage = 1000000)

-- This parrot wouldn't VOOOOOMM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot("a million", "bereft of life", "jump")

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [ ]:
parrot(voltage=5, "dead")

SyntaxError: ignored

In [ ]:
parrot("a billion", state= "ball")

-- This parrot wouldn't voom if you put a billion volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's ball !

In [ ]:
def argu(a, c, b = "dünya", d = "saturn"):
  print(a,b,c,d, sep="\n")

In [ ]:
argu(a = "uranüs", c = "jupiter")

uranüs
dünya
jupiter
saturn

In [ ]:
argu("uranüs", "jüpiter")

uranüs
dünya
jüpiter
saturn

In [ ]:
argu("plüton", c = "venüs", "mars")

SyntaxError: ignored

In [ ]:
argu("plüton", "mars" c = "venüs")

SyntaxError: ignored

In [ ]:
argu(d = "güneş", a = "dünya", c = "plüton", b = "venüs")

dünya
venüs
plüton
güneş

In [ ]:
argu("güneş", "dünya", "plüton", "venüs")

güneş
plüton
dünya
venüs

In [ ]:
"11.1".isdigit()

False

In [ ]:
"111".isdigit()

True

In [ ]:
"-22".isdigit()

False

In [ ]:
while True:

  number = input("Enter a positive number: ")
  digits = len(number)
  summ = 0

  if not number.isdigit():
    print(number, "is invalid entry. Enter a valid input")

  elif int(number) >= 0:
    for i in range(digits):
      summ += int(number[i]) ** digits
    
    if summ == int(number):
      print(number, "is an Armstrong Number")
      break
      
    else:
      print(number, "is not an Armstrong Number")
      break

Enter a positive number: 63105425988599693916
63105425988599693916 is an Armstrong Number

In [ ]:
n = int(input("Enter a positive number to check if it is a Prime Number: "))
counter = 0

for i in range(1, n+1) :
    if n % i == 0 :
        counter += 1
        
if (n == 0) or (n == 1) or (counter >= 3) :
    print(n, "is not a Prime Number")
    
else :
    print(n, "is a Prime Number")

Enter a positive number to check if it is a Prime Number: 22
22 is not a Prime Number