<a href="https://colab.research.google.com/github/MuratYarali/Python-Studies/blob/main/%C3%87al%C4%B1%C5%9Fmam_24_11_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list = [1,2,3,4,5]

x = [i ** 2 for i in my_list if i % 2]

x

[1, 9, 25]

In [ ]:
my_list = [1,2,3,4,5]
new = []

for i in my_list:
  if i % 2:
    new.append(i ** 2)

new

[1, 9, 25]

In [ ]:
names = ["susan", "murat"]
mood= ["ışıl", 0]
boş = []

print(any(names), any(mood), any(boş), sep = "\n")

True
True
False

In [ ]:
names = ["susan", "murat", False, 0, 22]

filtered_names = filter(None, names)

for i in filtered_names:
  print(i)

susan
murat
22

In [ ]:
names = ["susan", "murat", False, 0, 22]

filtered_names = filter(None, names)

print("Filtered elements are: ", *filtered_names)

Filtered elements are:  susan murat 22

In [ ]:
print([i for i in range(1,102) if i % 3 == 0 and i % 5 == 0])

[15, 30, 45, 60, 75, 90]

In [ ]:
names = ["susan", "murat", False, 0, 22]

list(enumerate(names, 1000))

[(1000, 'susan'), (1001, 'murat'), (1002, False), (1003, 0), (1004, 22)]

In [ ]:
numbers = [11, 22]

print(sum(numbers, 5))

38

In [ ]:
print(round(3.675555, 2))

3.68

In [ ]:
generator = (i ** 2 for i in range(6))

print(next(generator))

0

In [ ]:
print(next(generator))

StopIteration: ignored

In [ ]:
generator = (i ** 2 for i in range(6))

print(*generator)

0 1 4 9 16 25

In [ ]:
print(*range(4))

0 1 2 3

In [ ]:
text = ["one", "two", "three"]
number = [1, 2, 3]

print(list(zip(text, number)))

[('one', 1), ('two', 2), ('three', 3)]

In [ ]:
text = ["one", "two", "three"]
number = [1, 2, 3]

for x, y in zip(text, number):
  print(x, ":", y)

one : 1
two : 2
three : 3

In [ ]:
text = ("one", "two", "three")
print("*".join(text))

one*two*three

In [ ]:
text = ("one", "two", "three")

x = "#".join(text)

print(x)

one#two#three

In [ ]:
str = input("Enter a long word: ")

backward = " ".join(str.split()[::-1])

print(backward)

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"

txt.split(", ")

['hello', 'my name is Peter', 'I am 26 years old']

In [ ]:
txt = "apple#banana#cherry#orange"

txt.split("#", 2)

['apple', 'banana', 'cherry#orange']

In [ ]:
def myfunc(n):
  return len(n)

x = list(map(myfunc, ("apple", "banana", "cherry")))

print(x)

[5, 6, 6]

In [ ]:
def myfunc(x, y):
  return x + y

x =list(map(myfunc, ("apple", "banana", "cherry"), ("orange", "lemon", "sugar")))

print(x)

['appleorange', 'bananalemon', 'cherrysugar']

In [ ]:
a = ("h", "b", "a", "c")

x = sorted(a, reverse=True)

print(x)

['h', 'c', 'b', 'a']

In [ ]:
txt = "hello my name is Peter I am 26 years old"

print(min(txt.split(), key = len), len(min(txt.split(), key = len)) )

I 1

In [ ]:
txt = "hello my name is Peter I am 26 years old"

list(map(min key=len, txt.split()))

In [ ]:
print(list(map(int, input("Enter 5 number: ").split())))

In [ ]:
print(sorted(list(set(map(int, (input("Enter 5 number: ").split())))))[-2])

Enter 5 number: 2 3 44 55 66
55

In [ ]:
def fruiterer(*fruit):
  for i in fruit:
    print("-", i)

fruiterer('orange', 'banana', 'melon', 'ananas')

- orange
- banana
- melon
- ananas

In [ ]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3)

family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom sue tim